/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	font-family: system-ui, sans-serif;
	font-size: 18px;
	line-height: 28px;
	-webkit-font-smoothing: antialized;
	-moz-osx-font-smoothing: grayscale;
}

hr {
	border: none;
	border-top: 1px solid #ccc;
}

article img {
	display: block;
	border: 1px solid #ccc;
	object-fit: contain;
	max-width: 100%;
	height: min-content !important;
}

footer {
	font-size: small;
}

a {
	color: #0055ff;
	text-decoration: none;
  font-weight: 500;
}

a:hover {
	text-decoration: underline;
}

video {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid #ccc;
  padding-left: 0.5rem;
}
